<div id="articles" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/articles.less</em>, <em>assets/js/pages/articles.page.js</em>, and <em>api/controllers/view-articles.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
